/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#perguntaInput {
    width: 80%; /* Use uma porcentagem para melhorar a adaptabilidade */
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 10px; /* Adiciona um espaço entre a caixa de pergunta e a resposta */
}

#resposta {
    font-size: 18px;
}
